<div class="page-header">
  <%= link_to messages_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_message_path(@message), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show message</h1>
</div>

<dl class="dl-horizontal">
  <dt>Lat:</dt>
  <dd><%= @message.lat %></dd>

  <dt>Lon:</dt>
  <dd><%= @message.lon %></dd>

  <dt>User:</dt>
  <dd><%= @message.user %></dd>

  <dt>Target email:</dt>
  <dd><%= @message.target_email %></dd>

  <dt>Address:</dt>
  <dd><%= @message.address %></dd>

  <dt>Picture:</dt>
  <dd><%= @message.picture %></dd>

</dl>
