<%
#TODO Remove api key's!! <-- Done.. now test them
map_image =
"https://maps.googleapis.com/maps/api/staticmap?center=#{@msg.address}&zoom=15&size=400x400&
markers=color:blue%7Clabel:@%7C#{@msg.address}&key=#{ENV["gmaps_api_key"]}"

logo_image = "http://cliparts.co/cliparts/kiM/KnR/kiMKnRART.jpg"
%>


<table style="width:80%; border: 1px solid #F7F2EF;">
  <tr>
    <td colspan="2" align="center" style="font-family: Arial, Helvetica, sans-serif;">
      <p style="font-size: 20px;"><%= @msg.user.username %>  has an abili </p>
      <p>Location: <%= @msg.address %></p>
      <p>Timestamp: <%= @msg.created_at.to_s(:short) %></p>
    </td>
  </tr>
  <tr style="valign:middle" >
    <td>
      <div>
        <a href="https://www.google.ca/maps/@#{@msg.address}">
          <img  style="border-radius: 50px; margin-left:30px"
                src="<%= map_image %>" alt="map_image"
          >
        </a>
        <div style="  max-height: 400px;    width: 400px;
                      overflow: hidden; text-align: center;
                      float: right;     border-radius: 50px;
        ">
        <img style="max-width:400px; border-radius:50px; margin:-50%;"
               src="<%= @msg.picture %>"
        />
      </div>
    </td>
  </tr>
  <tr>
    <td align="center" style="font-family: Arial, Helvetica, sans-serif; font-size: 20px;">
      <p>Then & There..</p>
      <p>Alibis</p>
    </td>
  </tr>
  <tr>
    <td align="center">
      <img style="width:100px; height:100px;" src="<%= logo_image %>">
    </td>
  </tr>
</table>
